* {
    font-family: "Lato", sans-serif;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 17px;
    color: #D04F4F;
  }
  
  .search-panel {
    background: #E7E7E7;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .search_input {
    width: 100%;
    border: none;
    background: transparent;
    outline: transparent;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.25);
  }
  .search_btn {
    border: none;
    outline: transparent;
    background: transparent;
    font-size: 24px;
  }
  
  .filters {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 50px;
  }
  
  .filter {
    cursor: pointer;
    position: relative;
    width: 170px;
    border-radius: 5px;
    overflow: hidden;
    align-self: flex-start;
    transition: 0.3s all ease;
  }
  .filter_list {
    display: none;
    padding: 0 5px 10px 5px;
    max-height: 400px;
    overflow-y: scroll;
  }
  .filter_option {
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    transition: 0.3s all ease;
  }
  .filter_option:hover {
    background: white;
    color: black;
  }
  .filter_option.active {
    background: white;
    color: black;
  }
  .filter_option-wrap {
    width: 100%;
  }

  .filter.open {
    width: 670px;
  }

  .fa-chevron-down {
    position: absolute;
    right: 20px;
    top: 23px;
    width: 12px;
    height: 12px;
    color: rgb(255, 255, 255);
    
  }

  .filter.open .fa-chevron-down {
    transform: rotate(180deg);
    top: 27px;
  }

  .filter.open .filter_list {
    display: flex;
    flex-wrap: wrap;
  }
  .filter.open .filter_option-wrap {
    width: 33%;
    padding: 5px;
  }
  .filter.open .filter_option {
    padding: 10px 15px;
  }
  
  .filter_input {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: transparent;
    border: none;
    outline: transparent;
    color: #fff;
  }
  .filter_input::placeholder {
    color: #fff;
  }
  .filterBlue {
    background: #3282F7;
  }
  .filterVert {
    background: #68D9A4;
  }
  .filterRouge {
    background: #ED6454;
  }
  
  .recipes {
    display: flex;
    margin-top: 120px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 50px;
  }
  
  .recipe {
    width: 380px;
    background: #E7E7E7;
    border-radius: 5px;
    overflow: hidden;
  }
  .recipeWrap {
    padding: 0 20px 20px 20px;
  }
  .recipeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .recipeTitle {
    font-size: 18px;
  }
  .recipeDuration {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .recipeDuration i {
    font-size: 20px;
    color:#ED6454    ;
    background: black;
    border-radius: 50%;
  }
  .recipeContent {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  .recipeDescription {
    margin: 0;
    width: 50%;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .badges {
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
  }
  .badges .badge {
    cursor: pointer;
  }
  .badges > span {
    cursor: auto;
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s all ease;
  }
  .badges > span:hover {
    color: #fff;
  }
  .badges .badge-blue {
    background: #3282F7;
  }
  .badges .badge-blue:hover {
    background: #0067ff;
  }
  .badges .badge-green {
    background: #68D9A4;
  }
  .badges .badge-green:hover {
    background: #15d57a;
  }
  .badges .badge-tomato {
    background: #ED6454;
  }
  .badges .badge-tomato:hover {
    background: #e83621;
  }
  .badges i {
    font-size: 22px;
  }